<label>Server Name</label>
<!-- Property binding -->
<input type="text" class="form-control" (input)="onUpdateServerName($event)">
<p>{{serverName}}</p>

<!-- Two way binding-->
<input type="text" class="form-control" [(ngModel)]="serverName">

<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<p  [innerText]="allowNewServer"></p>

<p *ngIf="isServername; else noServer">{{serverCreationStatus}}</p>
<ng-template #noServer>
<p>No server was created!!</p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>
<!-- <app-server></app-server> -->