<app-nav></app-nav>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <ul>
        <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
        <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
        <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
      </ul>
    </div>
    <div class="col-sm-4">
      <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
      <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
      <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
    </div>
    <div class="col-sm-4">
      <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
      <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
      <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
    </div>
  </div>
</div>